.impowerBox .title {
  display: none;
}
.impowerBox .info {
  width: 200px;
  display: none;
}
.status_icon {
  display: none !important;
}
.panelContent .wrp_code {
  margin-top: 0px !important;
}
.panelContent .wrp_code .js_qrcode_img {
  width: 210px !important;
  heigh: 210px !important;
}
.impowerBox .status {
  text-align: center;
}
